Repository fluxcd/pkg, pull requests merged in 2021-07, with the labels that each got.

#123 Make it easier to send events without metadata
  runtime/controller/events.go
Labels: pkg/runtime

#102 Add TLS package and helper methods to runtime
  runtime/tls/doc.go
  runtime/tls/testdata/keys.go
  runtime/tls/tls.go
  runtime/tls/tls_test.go
Labels: pkg/runtime

#125 README for runtime package
  runtime/README.md
  runtime/doc.go
  runtime/pprof/pprof.go
Labels: area/docs, pkg/runtime

#126 Order ReconcilingCondition before ReadyCondition
  runtime/conditions/setter.go
  runtime/conditions/setter_test.go
Labels: pkg/runtime

#129 Add setup-envtest in Makefile
  Makefile
Labels: enhancement

#130 runtime/predicates: Add unit tests
  runtime/predicates/reconcile_requested_test.go
Labels: enhancement, pkg/runtime

#133 runtime/conditions: add kstatus condition helpers
  runtime/conditions/getter.go
  runtime/conditions/getter_test.go
  runtime/conditions/setter.go
  runtime/conditions/setter_test.go
  runtime/patch/patch.go
Labels: area/runtime, enhancement
