Repository fluxcd/pkg, pull requests merged in 2021-11, with the labels that each got.

#179 gittestserver: Add http middleware support
  gittestserver/server.go
  gittestserver/server_test.go
  runtime/acl/acl_test.go
Labels: area/testserver

#181 ssa: Set delete propagation policy to background
  ssa/manager_delete.go
Labels: area/server-side-apply

#183 ssa: Introduce delete options
  ssa/manager_delete.go
  ssa/manager_delete_test.go
  ssa/utils.go
Labels: area/server-side-apply

#184 ssa: Introduce wait options
  ssa/manager_apply.go
  ssa/manager_delete_test.go
  ssa/manager_wait.go
  ssa/manager_wait_test.go
Labels: area/server-side-apply

#185 ssa: Introduce apply options
  ssa/manager_apply.go
  ssa/manager_apply_test.go
  ssa/manager_delete_test.go
  ssa/manager_diff_test.go
  ssa/manager_wait_test.go
Labels: area/server-side-apply

#186 ssa: Add exclusions to apply options
  ssa/manager_apply.go
  ssa/manager_apply_test.go
Labels: enhancement, area/server-side-apply

#187 ssa: Fix delete with exclusions
  ssa/manager_apply_test.go
  ssa/manager_delete.go
  ssa/manager_delete_test.go
Labels: bug, area/server-side-apply

#180 Remove file support from Kustomize Patch type docs
  apis/kustomize/kustomize_types.go
Labels: area/apis

#188 feat: make it easier to debug kustomize action failures
  actions/kustomize/action.yml
Labels: area/actions

#189 Generate a combined json schemas with oneOf operator
  actions/crdjsonschema/Dockerfile
  actions/crdjsonschema/action.yml
  actions/crdjsonschema/entrypoint.sh
  actions/crdjsonschema/objectmeta-meta-v1.json
  actions/crdjsonschema/openapi2jsonschema.py
Labels: area/actions

#190 Use `objectmeta-meta-v1.json` from root
  actions/crdjsonschema/openapi2jsonschema.py
Labels: bug, area/actions

#191 helmtestserver: update dependencies
  helmtestserver/go.mod
  helmtestserver/go.sum
Labels: area/testserver
