Repository fluxcd/pkg, pull requests merged in 2022-11, with the labels that each got.

#389 gogit: Optimise force push
  git/gogit/repository_client.go
  git/gogit/repository_client_test.go
Labels: area/git

#394 git/gogit: configure hostkey callback only when known_hosts is provided
  git/gogit/transport.go
  git/gogit/transport_test.go
Labels: area/git

#390 Introduce the Event v1beta1 API schema
  apis/event/go.mod
  apis/event/go.sum
  apis/event/v1beta1/doc.go
  apis/event/v1beta1/event.go
  apis/event/v1beta1/metadata.go
  apis/event/v1beta1/zz_generated.deepcopy.go
Labels: area/apis

#393 git: add support for cloning empty repos
  git/client.go
  git/gogit/clone.go
  git/gogit/clone_test.go
  git/libgit2/clone.go
Labels: area/git

#391 gogit: Replace `go-git/go-git` with `fluxcd/go-git`
  git/gogit/clone.go
  git/gogit/clone_test.go
  git/gogit/go.mod
  git/gogit/go.sum
  git/gogit/repository_client.go
  git/gogit/repository_client_test.go
  git/gogit/transport.go
  git/gogit/transport_test.go
  git/internal/e2e/go.mod
  git/internal/e2e/go.sum
  git/internal/e2e/utils.go
  git/libgit2/go.mod
  git/libgit2/go.sum
  gittestserver/go.mod
  gittestserver/go.sum
  gittestserver/server.go
  gittestserver/server_test.go
  oci/go.mod
  oci/go.sum
  oci/tests/integration/go.mod
  oci/tests/integration/go.sum
  sourceignore/go.mod
  sourceignore/go.sum
  sourceignore/sourceignore.go
  sourceignore/sourceignore_test.go
Labels: area/git

#396 git: Add new WithInsecureCredentialsOverHTTP
  git/gogit/clone_test.go
  git/gogit/repository_client.go
  git/libgit2/clone_test.go
  git/libgit2/repository_client.go
Labels: area/git

#399 build: Fix gitkit and gitlab tests
  git/internal/e2e/gitkit_test.go
  git/internal/e2e/gitlab_ce_test.go
Labels: area/build

#401 build: Refactor e2e tests and update GitHub actions
  .github/workflows/actions.yaml
  .github/workflows/build.yaml
  .github/workflows/cifuzz.yaml
  .github/workflows/e2e.yaml
  .github/workflows/ossf.yaml
  .github/workflows/scan.yaml
  git/internal/e2e/git_utils.go
  git/internal/e2e/github_test.go
  git/internal/e2e/gitkit_test.go
  git/internal/e2e/gitlab_ce_test.go
  git/internal/e2e/gitlab_test.go
Labels: area/build

#405 Bump scorecard action to v2.0.6
  .github/workflows/ossf.yaml
Labels: area/build

#406 apis/meta: Add common failure reasons
  apis/meta/conditions.go
Labels: area/apis

#407 Update internal dependencies
  git/gogit/go.mod
  git/internal/e2e/go.mod
  git/libgit2/go.mod
  kustomize/go.mod
  oci/go.mod
  runtime/go.mod
Labels: dependencies

#392 Clean-up Kustomize module and enable dry-run for varsub
  kustomize/go.mod
  kustomize/go.sum
  kustomize/kustomize.go
  kustomize/kustomize_generator.go
  kustomize/kustomize_generator_test.go
  kustomize/kustomize_varsub.go
  kustomize/kustomize_varsub_test.go
  kustomize/testdata/panic/kustomization.yaml
  kustomize/testdata/panic/secret.age.yaml
  kustomize/testdata/relbase/clusters/base/configmap.yaml
  kustomize/testdata/relbase/clusters/base/kustomization.yaml
  kustomize/testdata/relbase/clusters/patches.yaml
  kustomize/testdata/relbase/clusters/staging/flux-system/kustomization.yaml
  kustomize/testdata/relbase/clusters/staging/flux-system/secret.yaml
Labels: area/kustomize

#410 ci: fix git e2e tests workflow
  .github/workflows/e2e.yaml
Labels: area/build

#411 Revert "Merge pull request #189 from chanwit/combine_all_schemas"
  actions/crdjsonschema/Dockerfile
  actions/crdjsonschema/action.yml
  actions/crdjsonschema/entrypoint.sh
  actions/crdjsonschema/objectmeta-meta-v1.json
  actions/crdjsonschema/openapi2jsonschema.py
Labels: area/actions, area/build

#413 oci: Bump github.com/aws/aws-sdk-go to v2
  oci/auth/aws/auth.go
  oci/auth/aws/auth_test.go
  oci/auth/login/login_test.go
  oci/go.mod
  oci/go.sum
  oci/tests/integration/go.mod
  oci/tests/integration/go.sum
Labels: area/build

#414 Fix openapi2jsonschema action
  actions/crdjsonschema/openapi2jsonschema.py
Labels: area/actions

#415 build: Fix fuzz tests
  tests/fuzz/oss_fuzz_build.sh
Labels: area/build

#416 build: Improve fuzz tests' reliability
  runtime/conditions/patch_fuzz_test.go
  runtime/conditions/patch_test.go
  runtime/conditions/unstructured_fuzz_test.go
  runtime/conditions/unstructured_test.go
  runtime/events/recorder_fuzzer_test.go
  tests/fuzz/README.md
  tests/fuzz/oss_fuzz_build.sh
Labels: area/build

#337 git/libgit2: add support for ssh proxy and tests
  git/internal/e2e/go.sum
  git/libgit2/client.go
  git/libgit2/go.mod
  git/libgit2/go.sum
  git/libgit2/transport/http_proxy_test.go
  git/libgit2/transport/http_test.go
  git/libgit2/transport/socks5_proxy_test.go
  git/libgit2/transport/ssh.go
  git/libgit2/transport/ssh_test.go
  git/testdata/certs/ca.pem
  git/testdata/certs/server-key.pem
  git/testdata/certs/server.pem
Labels: area/git

#419 git/gogit: modify chroot to return a new os filesystem
  git/gogit/fs/osfs_os.go
  git/gogit/fs/osfs_test.go
Labels: area/git
