Repository fluxcd/pkg, pull requests merged in 2022-12, with the labels that each got.

#420 git/gogit: add proxy tests
  Makefile
  git/gogit/go.mod
  git/gogit/go.sum
  git/gogit/internal/test/http_proxy_test.go
  git/gogit/internal/test/socks_proxy_test.go
  git/internal/e2e/go.mod
  git/internal/e2e/go.sum
  git/libgit2/Makefile
Labels: area/git

#412 Add support for Kustomize components
  kustomize/kustomize_generator.go
  kustomize/kustomize_generator_test.go
  kustomize/testdata/components/kustomization.yaml
Labels: enhancement, area/kustomize

#426 git/e2e: fix bitbucket server url parsing and project key
  git/internal/e2e/bitbucket_server_test.go
Labels: area/git

#427 git/gogit: bump to gittestserver v0.8.0
  git/gogit/go.mod
Labels: area/build

#418 Build archive properly in oci.Build
  oci/client/build.go
  oci/client/build_test.go
Labels: area/oci

#430 git/gogit: fix chroot filesystem and add submodule test
  git/gogit/clone_test.go
  git/gogit/fs/osfs_os.go
  git/gogit/fs/osfs_test.go
  git/gogit/go.mod
  git/testdata/git/repo2/bar.txt
Labels: area/git

#431 Make sure to take into consideration all the accepted kustomization file extensions.
  kustomize/kustomize_generator.go
  kustomize/testdata/resources/kustomization.yml
Labels: bug, area/kustomize

#436 fuzz: Use build script from upstream
  tests/fuzz/Dockerfile.builder
  tests/fuzz/oss_fuzz_build.sh
  tests/fuzz/oss_fuzz_run.sh
Labels: area/build

#438 Pin envtest to Kubernetes v1.25
  Makefile
Labels: area/build

#433 gogit: Add WithSingleBranch
  git/gogit/client.go
  git/gogit/client_test.go
  git/gogit/clone.go
Labels: area/git
