Repository fluxcd/pkg, pull requests merged in 2022-01, with the labels that each got.

#205 Export IsImmutableError, and some clean-up
  ssa/manager_apply.go
  ssa/manager_apply_test.go
  ssa/manager_wait_test.go
  ssa/utils.go
Labels: area/server-side-apply

#207 Workaround for HPA dry-run metrics duplication
  ssa/manager_diff.go
  ssa/manager_diff_test.go
  ssa/testdata/test6.yaml
  ssa/utils.go
Labels: area/server-side-apply

#208 Preserve value difference when masking secret data
  ssa/manager_diff.go
  ssa/utils.go
  ssa/utils_test.go
Labels: area/server-side-apply

#210 Update golang.org/x/crypto to fix CVE-2020-29652
  ssh/go.mod
  ssh/go.sum
Labels: dependencies

#211 Update containerd v1.5.9 to fix CVE-2021-43816
  helmtestserver/go.mod
  helmtestserver/go.sum
Labels: dependencies

#213 Update golang.org/x/crypto to latest main
  ssh/go.mod
  ssh/go.sum
Labels: dependencies

#212 Refactor Fuzz implementation
  .github/workflows/cifuzz.yaml
  .gitignore
  Makefile
  runtime/go.mod
  runtime/go.sum
  tests/fuzz/Dockerfile.builder
  tests/fuzz/README.md
  tests/fuzz/conditions_fuzzer.go
  tests/fuzz/events_fuzzer.go
  tests/fuzz/gitutil_fuzzer.go
  tests/fuzz/oss_fuzz_build.sh
  tests/fuzz/oss_fuzz_run.sh
  tests/fuzz/tls_fuzzer.go
  tests/fuzz/untar_fuzzer.go
Labels: area/build

#215 Fix makefile envtest and controller-gen usage
  .github/workflows/build.yaml
  .gitignore
  Makefile
Labels: area/build

#209 Take ownership of kubectl managed fields
  ssa/go.mod
  ssa/go.sum
  ssa/main_test.go
  ssa/manager.go
  ssa/manager_apply.go
  ssa/manager_apply_test.go
  ssa/manager_wait.go
  ssa/patch.go
  ssa/sort.go
  ssa/utils.go
Labels: area/server-side-apply

#218 Fix fuzzer build and improve fuzz tests on pull requests
  .github/workflows/cifuzz.yaml
  Makefile
  tests/fuzz/events_fuzzer.go
  tests/fuzz/oss_fuzz_run.sh
Labels: area/build

#217 Exclude the status subresouce from the applied resource
  ssa/utils.go
Labels: bug, area/server-side-apply

#220 Add checksum verification for syft installer script
  actions/sbom/action.yml
Labels: area/actions

#219 Add action to generate SBOM for container images
  .github/workflows/actions.yaml
  actions/sbom/action.yml
Labels: enhancement, area/actions

#224 Export the Action type in pkg/kustomize
  kustomize/kustomize_generator.go
Labels: area/kustomize

#225 Add a github action for sops
  .github/workflows/actions.yaml
  actions/sops/action.yaml
Labels: area/actions

#226 Remove SBOM action
  .github/workflows/actions.yaml
  actions/sbom/action.yml
Labels: area/actions

#223 Replaces kubectl field managers with the resource manager owner in ssa apply
  ssa/manager_apply.go
  ssa/manager_apply_test.go
  ssa/patch.go
Labels: area/server-side-apply

#227 ssa: Add exclusion list to diff options
  ssa/manager_diff.go
  ssa/manager_diff_test.go
Labels: area/server-side-apply

#228 ssa: Add read function that validates resources
  ssa/utils.go
  ssa/utils_test.go
Labels: area/server-side-apply

#229 ssa: Refactor server-side apply helpers
  ssa/manager_apply.go
  ssa/manager_apply_test.go
  ssa/manager_diff.go
  ssa/patch.go
  ssa/utils.go
  ssa/utils_test.go
Labels: area/server-side-apply

#222 runtime/events: Handle empty webhook address and log event in debug mode
  runtime/events/recorder.go
  runtime/events/recorder_test.go
Labels: enhancement, area/runtime

#230 runtime: Add flag to disable cross-namespace refs
  runtime/acl/flags.go
Labels: area/runtime

#232 ssa: Add tests for metadata drift detection
  ssa/manager_diff_test.go
  ssa/testdata/test7.yaml
Labels: area/server-side-apply
