Repository fluxcd/pkg, pull requests merged in 2022-03, with the labels that each got.

#246 Update dependencies
  helmtestserver/go.mod
  helmtestserver/go.sum
Labels: area/build

#247 ssa: Allow objects to be excluded from metadata cleanup
  ssa/go.mod
  ssa/go.sum
  ssa/manager_apply.go
  ssa/manager_apply_test.go
Labels: area/server-side-apply

#248 Update `helmtestserver` to optionally sign packaged charts
  helmtestserver/go.mod
  helmtestserver/server.go
  helmtestserver/server_test.go
  helmtestserver/testdata/helmchart/.helmignore
  helmtestserver/testdata/helmchart/Chart.yaml
  helmtestserver/testdata/helmchart/templates/NOTES.txt
  helmtestserver/testdata/helmchart/templates/_helpers.tpl
  helmtestserver/testdata/helmchart/templates/deployment.yaml
  helmtestserver/testdata/helmchart/templates/tests/test-connection.yaml
  helmtestserver/testdata/helmchart/values.yaml
Labels: enhancement, area/testserver

#252 align fuzzing deps
  tests/fuzz/oss_fuzz_build.sh
Labels: dependencies

#253 runtime/conditions: Update observed gen on Set()
  runtime/conditions/setter.go
  runtime/conditions/setter_test.go
Labels: area/runtime
