Repository fluxcd/pkg, pull requests merged in 2022-04, with the labels that each got.

#255 [Kustomize] Retrieve the right key to validate if substitution is disabled
  Makefile
  gittestserver/go.sum
  helmtestserver/go.sum
  kustomize/go.mod
  kustomize/go.sum
  kustomize/kustomize_varsub.go
  kustomize/testdata/kustomization.yaml
  kustomize/testdata/kustomization_expected.yaml
  kustomize/testdata/kustomization_varsub.yaml
  kustomize/testdata/kustomization_varsub_expected.yaml
  kustomize/testdata/resources/config.yaml
  kustomize/testdata/resources/kustomization.yaml
  runtime/go.sum
  ssa/go.sum
  ssh/go.sum
Labels: bug, area/kustomize

#256 runtime/controller: add flags to configure exponential back-off retry
  runtime/controller/rate_limiter.go
Labels: area/runtime

#260 Update Helm packages to v3.8.2
  helmtestserver/go.mod
  helmtestserver/go.sum
Labels: dependencies

#261 Bump apis/meta in runtime
  runtime/go.mod
Labels: dependencies

#262 kustomize: introduce secure FS implementation
  kustomize/filesys/fs_secure.go
  kustomize/filesys/fs_secure_test.go
Labels: enhancement, area/kustomize

#257 Add SecretKeyReference
  apis/meta/reference_types.go
  apis/meta/zz_generated.deepcopy.go
Labels: area/apis

#265 Remove cyclic dependency to kustomize-controller API
  kustomize/go.mod
  kustomize/go.sum
  kustomize/kustomize_varsub.go
  runtime/go.mod
Labels: area/runtime, area/kustomize
