Repository fluxcd/pkg, pull requests merged in 2022-02, with the labels that each got.

#233 ssa: Transfer the ownership of managed fields from others managers
  ssa/go.mod
  ssa/manager_apply.go
  ssa/manager_apply_test.go
  ssa/patch.go
  ssa/testdata/test8.yaml
  ssa/testdata/test9.yaml
Labels: area/server-side-apply

#234 ssa: Preserve the status field on CRDs
  ssa/utils.go
Labels: area/server-side-apply

#236 ssa: Update Kubernetes dependencies
  ssa/go.mod
  ssa/go.sum
  ssa/main_test.go
  ssa/manager_wait.go
Labels: area/server-side-apply

#237 all: Update Kubernetes dependencies
  Makefile
  apis/kustomize/go.mod
  apis/kustomize/go.sum
  apis/meta/go.mod
  apis/meta/go.sum
  helmtestserver/go.mod
  helmtestserver/go.sum
  runtime/go.mod
  runtime/go.sum
  version/go.mod
  version/go.sum
Labels: area/build

#239 runtime/patch: add FieldOwner K8s client option
  runtime/conditions/patch.go
  runtime/patch/options.go
  runtime/patch/patch.go
  runtime/patch/patch_test.go
Labels: area/runtime

#238 Update dependencies
  helmtestserver/go.mod
  helmtestserver/go.sum
  kustomize/go.mod
  kustomize/go.sum
  ssa/go.mod
  ssa/go.sum
Labels: area/build

#240 chore: update apis/meta to v0.12.0
  runtime/go.mod
Labels: area/runtime, area/build

#241 runtime/patch: Make ToUnstructured() public
  runtime/patch/patch.go
  runtime/patch/utils.go
  runtime/patch/utils_test.go
Labels: area/runtime
