Repository fluxcd/pkg, pull requests merged in 2022-08, with the labels that each got.

#303 Update kustomize to v4.5.6
  kustomize/go.mod
  kustomize/go.sum
Labels: area/kustomize

#304 oci: downgrade dependencies
  oci/go.mod
  oci/go.sum
Labels: area/oci

#305 Add OCI client
  oci/client/build.go
  oci/client/build_test.go
  oci/client/client.go
  oci/client/list.go
  oci/client/list_test.go
  oci/client/meta.go
  oci/client/pull.go
  oci/client/push.go
  oci/client/push_pull_test.go
  oci/client/suite_test.go
  oci/client/tag.go
  oci/client/tag_test.go
  oci/client/testdata/artifact/deployment.yaml
  oci/client/testdata/artifact/somedir/repo.yaml
  oci/client/url.go
  oci/constants.go
  oci/doc.go
  oci/go.mod
  oci/go.sum
Labels: area/oci

#306 oci: Use go 1.18 and azure sdk v1
  .github/workflows/build.yaml
  actions/envtest/Dockerfile
  oci/auth/azure/auth.go
  oci/auth/azure/fake.go
  oci/go.mod
  oci/go.sum
  oci/tests/integration/go.mod
  oci/tests/integration/go.sum
Labels: area/oci

#308 oci/client: Add internal/fs package for os.Rename
  oci/client/build.go
  oci/client/internal/fs/LICENSE
  oci/client/internal/fs/fs.go
  oci/client/internal/fs/fs_test.go
  oci/client/internal/fs/rename.go
  oci/client/internal/fs/rename_windows.go
  oci/client/internal/fs/testdata/symlinks/dir-symlink
  oci/client/internal/fs/testdata/symlinks/file-symlink
  oci/client/internal/fs/testdata/symlinks/invalid-symlink
  oci/client/internal/fs/testdata/symlinks/windows-file-symlink
  oci/client/internal/fs/testdata/test.file
Labels: area/oci

#307 Add `org.opencontainers.image.created` to OCI meta
  Makefile
  oci/client/list.go
  oci/client/list_test.go
  oci/client/meta.go
  oci/client/push.go
  oci/client/push_pull_test.go
  oci/constants.go
Labels: area/oci

#309 oci: Fix broken action
  oci/client/internal/fs/fs_test.go
  oci/client/internal/fs/testdata/symlinks/invalid-symlink
  oci/client/internal/fs/testdata/symlinks/windows-file-symlink
Labels: area/build

#310 oci: Fix GitHub Action - nested symbolic links
  oci/client/internal/fs/fs_test.go
  oci/client/internal/fs/testdata/symlinks/dir-symlink
  oci/client/internal/fs/testdata/symlinks/file-symlink
Labels: area/build

#316 [pkg/oci]: Add options to filter tags by semver and regex
  oci/client/list.go
  oci/client/list_test.go
  oci/go.mod
  oci/go.sum
Labels: area/oci

#317 [pkg/oci] Export fields in ListOptions
  oci/client/list.go
  oci/client/list_test.go
Labels: bug, area/oci

#300 git: Add a new `RepositoryClient` using libgit2
  .github/workflows/e2e.yaml
  Makefile
  git/Makefile
  git/e2e/gitkit_test.go
  git/e2e/gitlab_test.go
  git/e2e/run.sh
  git/go.mod
  git/go.sum
  git/gogit/repository_client.go
  git/gogit/repository_client_test.go
  git/libgit2/clone.go
  git/libgit2/clone_ssh_test.go
  git/libgit2/clone_test.go
  git/libgit2/hack/install-libraries.sh
  git/libgit2/internal/test/utils.go
  git/libgit2/repository_client.go
  git/libgit2/repository_client_test.go
  git/libgit2/transport/http.go
  git/libgit2/transport/http_test.go
  git/libgit2/transport/init.go
  git/libgit2/transport/options.go
  git/libgit2/transport/ssh.go
  git/libgit2/transport/ssh_test.go
  git/libgit2/utils.go
  git/libgit2/utils_test.go
  git/utils.go
  git/utils_test.go
Labels: area/git

#321 [pkg/oci]: Add Delete function
  oci/client/delete.go
  oci/client/delete_test.go
Labels: area/oci

#318 pkg/git: split into pkg/git/gogit and pkg/git/libgit2
  .github/workflows/e2e.yaml
  Makefile
  git/e2e/run.sh
  git/go.mod
  git/go.sum
  git/gogit/clone.go
  git/gogit/go.mod
  git/gogit/go.sum
  git/internal/e2e/gitkit_test.go
  git/internal/e2e/gitlab_test.go
  git/internal/e2e/go.mod
  git/internal/e2e/go.sum
  git/internal/e2e/run.sh
  git/internal/e2e/setup_gitlab.sh
  git/internal/e2e/setup_gitlab_pat.rb
  git/internal/e2e/utils.go
  git/libgit2/Makefile
  git/libgit2/go.mod
  git/libgit2/go.sum
  git/libgit2/libgit2-vars.env
Labels: area/git

#324 Update Kubernetes packages to v1.25.0
  Makefile
  apis/kustomize/go.mod
  apis/kustomize/go.sum
  apis/meta/go.mod
  apis/meta/go.sum
  git/go.mod
  git/go.sum
  git/gogit/go.mod
  git/gogit/go.sum
  git/internal/e2e/go.mod
  git/internal/e2e/go.sum
  git/libgit2/go.mod
  git/libgit2/go.sum
  helmtestserver/go.mod
  helmtestserver/go.sum
  kustomize/go.mod
  kustomize/go.sum
  oci/doc.go
  oci/go.mod
  oci/go.sum
  oci/tests/integration/go.mod
  oci/tests/integration/go.sum
  runtime/go.mod
  runtime/go.sum
  ssa/go.mod
  ssa/go.sum
Labels: dependencies

#327 Update internal dependencies
  git/gogit/go.mod
  git/gogit/go.sum
  git/internal/e2e/go.mod
  git/internal/e2e/go.sum
  git/libgit2/go.mod
  git/libgit2/go.sum
  helmtestserver/go.mod
  helmtestserver/go.sum
  kustomize/go.mod
  oci/go.mod
  runtime/go.mod
Labels: dependencies

#326 git/libgit2: remove dep to pkg/runtime
  git/internal/e2e/go.mod
  git/internal/e2e/go.sum
  git/libgit2/go.mod
  git/libgit2/go.sum
  git/libgit2/transport/http.go
  git/libgit2/transport/ssh.go
Labels: area/git

#336 fuzz: Ensure Go 1.18 for fuzz image
  .github/workflows/cifuzz.yaml
  tests/fuzz/Dockerfile.builder
Labels: area/build
