Repository fluxcd/pkg, pull requests merged in 2022-10, with the labels that each got.

#369 git/libgit2: log context closed message as info instead of err
  git/libgit2/transport/http.go
  git/libgit2/transport/ssh.go
Labels: area/git

#370 Add Kubernetes account impersonation helpers
  apis/meta/reference_types.go
  apis/meta/zz_generated.deepcopy.go
  runtime/client/impersonator.go
  runtime/go.mod
  runtime/go.sum
Labels: area/runtime, area/apis

#372 Bump apis/meta in runtime
  runtime/go.mod
Labels: dependencies

#373 feat: accept files in oci build
  oci/client/build.go
  oci/client/build_test.go
Labels: area/oci

#374 runtime/conditions/check: Add kstatus check pkg
  runtime/conditions/check/checker.go
  runtime/conditions/check/checker_test.go
  runtime/conditions/check/conditions.go
  runtime/conditions/check/conditions_test.go
  runtime/conditions/check/doc.go
  runtime/conditions/check/fail.go
  runtime/conditions/check/fail_test.go
  runtime/conditions/check/warn.go
  runtime/conditions/check/warn_test.go
  runtime/go.mod
  runtime/go.sum
Labels: area/runtime

#329 runtime: Add reconcile result finalizer
  runtime/conditions/testdata/crds/fake.toolkit.fluxcd.io_fakes.yaml
  runtime/conditions/testdata/fake.go
  runtime/object/doc.go
  runtime/object/object.go
  runtime/object/object_test.go
  runtime/reconcile/doc.go
  runtime/reconcile/result.go
  runtime/reconcile/result_test.go
Labels: area/runtime

#367 oci/auth: Remove log message about autologin flag
  oci/auth/aws/auth.go
  oci/auth/azure/auth.go
  oci/auth/gcp/auth.go
Labels: area/oci

#377 tar: Optimise memory usage
  oci/client/build_test.go
  oci/client/pull.go
  oci/go.mod
  oci/go.sum
  tar/tar.go
  untar/go.mod
  untar/go.sum
  untar/untar.go
Labels: area/kustomize

#379 runtime/patch: Add SerialPatcher
  runtime/patch/serial.go
  runtime/patch/serial_test.go
Labels: area/runtime

#381 Update tar pkg for `http/fetch` and `oci/client`
  http/fetch/go.mod
  oci/go.mod
Labels: dependencies

#383 git: Bump go-git to enable `multi_ack`
  git/gogit/go.mod
  git/gogit/go.sum
  git/gogit/transport.go
  git/gogit/transport_test.go
  git/internal/e2e/go.mod
  git/internal/e2e/go.sum
Labels: area/git

#382 oci/client: add diff capability
  oci/client/diff.go
  oci/client/diff_test.go
Labels: area/oci

#384 oci: Use upstream layer digest for artifact diff
  oci/client/diff.go
  oci/client/diff_test.go
Labels: area/oci

#376 build: Bump golang-with-libgit2 to v0.4.0
  git/internal/e2e/go.mod
  git/internal/e2e/go.sum
  git/libgit2/clone.go
  git/libgit2/clone_test.go
  git/libgit2/go.mod
  git/libgit2/go.sum
  git/libgit2/internal/test/utils.go
  git/libgit2/libgit2-vars.env
  git/libgit2/repository_client.go
  git/libgit2/repository_client_test.go
  git/libgit2/transport/http.go
  git/libgit2/transport/http_test.go
  git/libgit2/transport/options.go
  git/libgit2/transport/ssh.go
  git/libgit2/transport/ssh_test.go
  git/libgit2/utils.go
Labels: area/git

#386 gogit: Implement osfs to better support git clones
  git/gogit/fs/join.go
  git/gogit/fs/join_test.go
  git/gogit/fs/osfs_linux.go
  git/gogit/fs/osfs_os.go
  git/gogit/fs/osfs_test.go
  git/gogit/fs/osfs_unsupported.go
  git/gogit/go.mod
  git/gogit/go.sum
  git/gogit/repository_client.go
  git/internal/e2e/go.mod
  git/internal/e2e/go.sum
Labels: area/git

#387 gogit: create parent dirs for fs.Symlink()
  git/gogit/fs/osfs_os.go
  git/gogit/fs/osfs_test.go
Labels: area/git

#388 gogit: Add WithForcePush
  git/gogit/repository_client.go
  git/gogit/repository_client_test.go
Labels: area/git
