Repository fluxcd/pkg, pull requests merged in 2022-09, with the labels that each got.

#347 ssa: Apply Kubernetes class types first
  ssa/sort.go
Labels: area/server-side-apply

#351 git/libgit2: use uuid for transport options usage
  git/libgit2/go.mod
  git/libgit2/utils.go
Labels: area/git

#353 fuzz: Fix build
  tar/tar_test.go
Labels: area/build

#355 fix libgit2 build by enabling COSIGN_EXPERIMENTAL
  git/libgit2/hack/install-libraries.sh
Labels: area/build

#354 Add e2e tests for GitHub
  .github/workflows/e2e.yaml
  git/internal/e2e/github_test.go
  git/internal/e2e/go.mod
  git/internal/e2e/go.sum
  git/internal/e2e/run.sh
  git/internal/e2e/utils.go
Labels: area/build, area/git

#357 ci: fix e2e conditonal logic
  .github/workflows/e2e.yaml
Labels: area/build, area/git

#360 Update dependencies
  apis/kustomize/go.mod
  apis/kustomize/go.sum
  apis/meta/go.mod
  apis/meta/go.sum
  helmtestserver/go.mod
  helmtestserver/go.sum
  kustomize/go.mod
  kustomize/go.sum
  oci/go.mod
  oci/go.sum
  oci/tests/integration/go.mod
  oci/tests/integration/go.sum
  runtime/go.mod
  runtime/go.sum
  ssa/go.mod
  ssa/go.sum
Labels: dependencies

#361 Update Go and internal packages
  .github/workflows/build.yaml
  .github/workflows/cifuzz.yaml
  .github/workflows/e2e.yaml
  .github/workflows/scan.yaml
  Makefile
  apis/meta/annotations.go
  gittestserver/server.go
  kustomize/go.mod
  kustomize/kustomize_generator.go
  runtime/conditions/merge.go
  runtime/conditions/unstructured.go
  runtime/controller/metrics.go
  runtime/events/recorder.go
  runtime/events/recorder_fuzzer_test.go
  runtime/go.mod
  runtime/patch/patch.go
  runtime/pprof/pprof.go
  runtime/predicates/reconcile_requested.go
  runtime/probes/probes.go
  runtime/testenv/testenv.go
  ssa/manager.go
Labels: area/build

#364 build: Replace git2go with fluxcd fork
  git/internal/e2e/go.mod
  git/internal/e2e/go.sum
  git/libgit2/go.mod
  git/libgit2/go.sum
Labels: area/git

#362 Add regex to support ECR as OCI Helm registry
  oci/auth/aws/auth.go
  oci/auth/aws/auth_test.go
  oci/auth/login/login.go
  oci/auth/login/login_test.go
Labels: area/oci
