Repository fluxcd/pkg, pull requests merged in 2023-09, with the labels that each got.

#644 Skip git e2e tests for dependabot PRs
  .github/workflows/e2e.yaml
Labels: area/ci

#646 oci: Use controller-runtime pkg/log specifically
  oci/auth/aws/auth.go
  oci/auth/azure/auth.go
  oci/auth/flag_test.go
  oci/auth/gcp/auth.go
  oci/auth/login/login.go
Labels: enhancement, dependencies, area/oci

#655 Skip symlinks during OCI layer decompression
  http/fetch/archive_fetcher.go
  http/fetch/go.mod
  http/fetch/go.sum
  oci/client/pull.go
  oci/go.mod
  oci/go.sum
  tar/go.mod
  tar/go.sum
  tar/symlink_test.go
  tar/tar.go
  tar/tar_opts.go
Labels: enhancement, area/oci

#656 Decommission untar package
  http/fetch/go.mod
  oci/go.mod
  untar/LICENSE
  untar/README.md
  untar/go.mod
  untar/go.sum
  untar/untar.go
Labels: dependencies
