Repository fluxcd/pkg, pull requests merged in 2023-08, with the labels that each got.

#613 runtime: add `jitter` utils and options
  runtime/jitter/interval.go
  runtime/jitter/interval_test.go
  runtime/jitter/jitter.go
  runtime/jitter/jitter_test.go
Labels: enhancement, area/runtime

#616 Update dependencies
  apis/event/go.mod
  apis/event/go.sum
  apis/kustomize/go.mod
  apis/kustomize/go.sum
  apis/meta/go.mod
  apis/meta/go.sum
  git/go.mod
  git/go.sum
  git/gogit/go.mod
  git/gogit/go.sum
  git/internal/e2e/go.mod
  git/internal/e2e/go.sum
  gittestserver/go.mod
  gittestserver/go.sum
  helmtestserver/go.mod
  helmtestserver/go.sum
  http/fetch/go.mod
  http/fetch/go.sum
  kustomize/go.mod
  kustomize/go.sum
  oci/go.mod
  oci/go.sum
  oci/tests/integration/go.mod
  oci/tests/integration/go.sum
  runtime/go.mod
  runtime/go.sum
  sourceignore/go.mod
  sourceignore/go.sum
  ssa/go.mod
  ssa/go.sum
  ssh/go.mod
  ssh/go.sum
Labels: dependencies

#617 git/internal/e2e: address flake for clone tests
  git/internal/e2e/utils.go
Labels: area/git

#619 ci: enable security-and-quality CodeQL query
  .github/workflows/scan.yaml
Labels: area/ci

#620 helmtestserver: update dependencies
  helmtestserver/go.mod
  helmtestserver/go.sum
Labels: dependencies

#622 oci: update dependendencies
  oci/go.mod
  oci/go.sum
  oci/tests/integration/go.mod
  oci/tests/integration/go.sum
Labels: dependencies, area/oci

#623 git/gogit: update dependencies
  git/gogit/go.mod
  git/gogit/go.sum
  git/internal/e2e/go.mod
  git/internal/e2e/go.sum
Labels: dependencies, area/git

#624 runtime/jitter: change default to +/-5%
  runtime/jitter/interval.go
Labels: area/runtime

#625 ssa: Add `IfNotPresent` apply strategy
  ssa/manager_apply.go
  ssa/manager_apply_test.go
  ssa/utils.go
Labels: enhancement, area/server-side-apply

#626 Update `sigs.k8s.io/controller-runtime` to v0.15.1
  kustomize/go.mod
  kustomize/go.sum
  runtime/go.mod
  runtime/go.sum
  ssa/go.mod
  ssa/go.sum
Labels: dependencies

#630 git: add support for key `ca.crt` to specify CA data
  git/options.go
  git/options_test.go
Labels: enhancement, area/git

#631 oci/auth: Add support for Azure China and US Gov regions
  oci/auth/azure/auth.go
  oci/auth/azure/auth_test.go
Labels: area/oci

#597 git: Add support for adding tag info to commit
  git/git.go
  git/git_test.go
  git/gogit/clone.go
  git/gogit/clone_test.go
Labels: enhancement, area/git

#634 Remove special error handling for secrets
  ssa/manager_apply_test.go
  ssa/manager_diff.go
Labels: enhancement, area/server-side-apply

#636 Update dependencies
  helmtestserver/go.mod
  helmtestserver/go.sum
  oci/go.mod
  oci/go.sum
  oci/tests/integration/go.mod
  oci/tests/integration/go.sum
Labels: dependencies
