Repository fluxcd/pkg, pull requests merged in 2023-06, with the labels that each got.

#589 git/gogit: Translate misleading go-git write access error of Gitlab
  git/gogit/client.go
Labels: area/git

#590 runtime/controller: Add generic flag for allowing insecure HTTP connections
  runtime/controller/connection.go
Labels: area/runtime

#591 oci: Allow consumers to set the OCI artifact created date
  oci/client/push.go
  oci/client/push_pull_test.go
Labels: enhancement, area/oci

#580 ssa apply: check for NotFound errors on Delete
  ssa/manager_apply.go
Labels: area/server-side-apply

#592 Update dependencies
  apis/event/go.mod
  apis/event/go.sum
  apis/kustomize/go.mod
  apis/kustomize/go.sum
  apis/meta/go.mod
  apis/meta/go.sum
  git/go.mod
  git/go.sum
  git/gogit/go.mod
  git/gogit/go.sum
  git/internal/e2e/go.mod
  git/internal/e2e/go.sum
  helmtestserver/go.mod
  helmtestserver/go.sum
  http/fetch/go.mod
  http/fetch/go.sum
  kustomize/go.mod
  kustomize/go.sum
  oci/go.mod
  oci/go.sum
  oci/tests/integration/go.mod
  oci/tests/integration/go.sum
  runtime/go.mod
  runtime/go.sum
  ssa/go.mod
  ssa/go.sum
  ssh/go.mod
  ssh/go.sum
Labels: dependencies

#593 Update internal dependencies
  git/gogit/go.mod
  git/internal/e2e/go.mod
  kustomize/go.mod
  runtime/go.mod
Labels: dependencies

#595 Align `go.mod` version with Kubernetes (Go 1.20)
  .github/actions/run-tests/Dockerfile
  .github/actions/run-tests/action.yml
  apis/acl/go.mod
  apis/event/go.mod
  apis/kustomize/go.mod
  apis/meta/go.mod
  git/go.mod
  git/gogit/go.mod
  git/internal/e2e/go.mod
  gittestserver/go.mod
  helmtestserver/go.mod
  http/fetch/go.mod
  http/transport/go.mod
  kustomize/go.mod
  lockedfile/go.mod
  masktoken/go.mod
  oci/go.mod
  oci/tests/integration/go.mod
  runtime/go.mod
  sourceignore/go.mod
  ssa/go.mod
  ssh/go.mod
  tar/go.mod
  tests/fuzz/Dockerfile.builder
  testserver/go.mod
  untar/go.mod
  version/go.mod
Labels: area/build

#594 runtime/client: add util func to check conn options compatibility with env
  runtime/controller/connection.go
  runtime/go.mod
Labels: area/runtime

#598 Declaratively define (and sync) labels
  .github/dependabot.yaml
  .github/labels.yaml
  .github/workflows/sync-labels.yaml
Labels: area/build
