Repository fluxcd/pkg, pull requests merged in 2023-12, with the labels that each got.

#697 ssa: avoid potential cyclic import
  ssa/errors/errors.go
  ssa/errors/immutable.go
  ssa/errors/immutable_test.go
  ssa/jsondiff/suite_test.go
  ssa/jsondiff/unstructured.go
  ssa/jsondiff/unstructured_test.go
  ssa/main_test.go
  ssa/manager.go
  ssa/manager_apply.go
  ssa/manager_apply_test.go
  ssa/manager_delete.go
  ssa/manager_delete_test.go
  ssa/manager_diff.go
  ssa/manager_diff_test.go
  ssa/manager_wait.go
  ssa/manager_wait_test.go
  ssa/normalize/normalize.go
  ssa/normalize/normalize_test.go
  ssa/utils.go
  ssa/utils/fmt.go
  ssa/utils/is.go
  ssa/utils/meta.go
  ssa/utils/meta_test.go
  ssa/utils/object.go
  ssa/utils/object_test.go
  ssa/utils_test.go
Labels: enhancement, area/server-side-apply

#699 Update AWS dependencies
  oci/go.mod
  oci/go.sum
  oci/tests/integration/go.mod
  oci/tests/integration/go.sum
Labels: dependencies

#700 Update Kustomize to v5.3.0
  kustomize/go.mod
  kustomize/go.sum
  runtime/go.mod
  runtime/go.sum
  ssa/go.mod
  ssa/go.sum
Labels: dependencies

#702 oci: update dependencies
  oci/go.mod
  oci/go.sum
  oci/tests/integration/go.mod
  oci/tests/integration/go.sum
Labels: dependencies, area/oci

#706 http/fetch: allow configuring a logger on client
  http/fetch/archive_fetcher.go
  http/fetch/go.mod
  http/fetch/go.sum
  http/fetch/logger.go
Labels: area/http

#707 runtime: Trim the condition message to the max accepted length
  runtime/conditions/setter.go
  runtime/conditions/setter_test.go
Labels: area/runtime

#705 Bump kustomize GH Action to 5.3.0
  actions/kustomize/action.yml
Labels: area/actions

#708 Fix a silently dropping Kustomization remote resources
  kustomize/filters.go
  kustomize/kustomize_generator_test.go
  kustomize/testdata/remote/configmap.yaml
  kustomize/testdata/remote/kustomization.yaml
Labels: bug, area/kustomize
