Repository fluxcd/pkg, pull requests merged in 2023-01, with the labels that each got.

#447 git/gogit: stop auto-staging files from WithFiles
  git/gogit/client.go
Labels: area/git

#440 feat: export ssa patching methods
  ssa/manager_apply.go
  ssa/patch.go
Labels: area/server-side-apply

#448 git/e2e: improve UX and add README
  .github/workflows/e2e.yaml
  git/internal/e2e/README.md
  git/internal/e2e/bitbucket_server_test.go
  git/internal/e2e/github_test.go
  git/internal/e2e/gitlab_ce_test.go
  git/internal/e2e/gitlab_test.go
  git/internal/e2e/run.sh
  git/internal/e2e/setup_gitlab.sh
Labels: area/git

#449 ssa: apply hpa drift detection fix to autoscaling/v2
  Makefile
  ssa/go.mod
  ssa/go.sum
  ssa/testdata/test6.yaml
  ssa/utils.go
Labels: bug, area/server-side-apply

#453 ssa: Add force apply selector options
  ssa/manager_apply.go
  ssa/manager_apply_test.go
Labels: area/server-side-apply

#455 Update dependencies
  apis/event/go.mod
  apis/event/go.sum
  apis/kustomize/go.mod
  apis/kustomize/go.sum
  apis/meta/go.mod
  apis/meta/go.sum
  helmtestserver/go.mod
  helmtestserver/go.sum
  kustomize/go.mod
  kustomize/go.sum
  oci/go.mod
  oci/go.sum
  oci/tests/integration/go.mod
  oci/tests/integration/go.sum
  runtime/go.mod
  runtime/go.sum
  ssa/go.mod
  ssa/go.sum
  ssa/manager_wait_test.go
Labels: dependencies

#456 ssa: Ignore objects even if they exist in cluster
  ssa/manager_apply.go
  ssa/manager_apply_test.go
Labels: bug, area/server-side-apply

#457 Update internal dependencies
  kustomize/go.mod
  runtime/go.mod
  runtime/go.sum
  runtime/patch/patch.go
Labels: dependencies
