Repository fluxcd/pkg, pull requests merged in 2023-02, with the labels that each got.

#460 oci: Introduce Flux media types
  oci/client/push.go
  oci/client/push_pull_test.go
  oci/client/suite_test.go
  oci/constants.go
  oci/go.mod
  oci/go.sum
  oci/tests/integration/go.mod
  oci/tests/integration/go.sum
Labels: enhancement, area/oci

#465 add support for checking out git repo to a ref
  git/gogit/client.go
  git/gogit/clone.go
  git/gogit/clone_test.go
  git/libgit2/client.go
  git/repository/options.go
Labels: enhancement, area/git

#467 git: update dependencies sub-packages
  git/gogit/go.mod
  git/gogit/go.sum
  git/internal/e2e/go.mod
  git/internal/e2e/go.sum
  git/libgit2/go.mod
  git/libgit2/go.sum
Labels: area/build, area/git

#468 gittestserver: update dependencies
  gittestserver/go.mod
  gittestserver/go.sum
Labels: area/testserver, area/build, area/git

#475 version: update dependencies
  version/go.mod
  version/go.sum
Labels: area/build

#469 helmtestserver: update dependencies
  helmtestserver/go.mod
  helmtestserver/go.sum
Labels: area/testserver, area/build, area/helm

#470 kustomize: update dependencies
  kustomize/go.mod
  kustomize/go.sum
Labels: area/build, area/kustomize

#473 ssa: update dependencies
  ssa/go.mod
  ssa/go.sum
Labels: area/server-side-apply, area/build

#474 ssh: update dependencies
  git/gogit/go.mod
  git/gogit/go.sum
  git/internal/e2e/go.mod
  git/internal/e2e/go.sum
  git/libgit2/go.mod
  git/libgit2/go.sum
  ssh/go.mod
  ssh/go.sum
Labels: area/build

#471 runtime: update dependencies
  runtime/go.mod
  runtime/go.sum
Labels: area/runtime, area/build

#472 sourceignore/oci: update dependencies
  oci/go.mod
  oci/go.sum
  oci/tests/integration/go.mod
  oci/tests/integration/go.sum
  sourceignore/go.mod
  sourceignore/go.sum
Labels: area/build, area/oci

#452 oci/tests: Add details about using Azure Service Principal for authentication
  oci/tests/integration/.env.sample
  oci/tests/integration/README.md
Labels: area/docs, area/oci

#466 ssa: Use List v1 as JSON output
  ssa/utils.go
Labels: area/server-side-apply

#479 build: convert ::set-output to $GITHUB_OUTPUT
  .github/workflows/cifuzz.yaml
Labels: area/build

#492 git: Decommission libgit2 implementation
  .github/workflows/build.yaml
  .github/workflows/e2e.yaml
  .github/workflows/scan.yaml
  Makefile
  git/go.mod
  git/go.sum
  git/internal/e2e/README.md
  git/internal/e2e/bitbucket_server_test.go
  git/internal/e2e/git_utils.go
  git/internal/e2e/github_test.go
  git/internal/e2e/gitkit_test.go
  git/internal/e2e/gitlab_ce_test.go
  git/internal/e2e/gitlab_test.go
  git/internal/e2e/go.mod
  git/internal/e2e/go.sum
  git/internal/e2e/run.sh
  git/libgit2/Makefile
  git/libgit2/README.md
  git/libgit2/client.go
  git/libgit2/client_test.go
  git/libgit2/clone.go
  git/libgit2/clone_ssh_test.go
  git/libgit2/clone_test.go
  git/libgit2/errors.go
  git/libgit2/errors_test.go
  git/libgit2/go.mod
  git/libgit2/go.sum
  git/libgit2/hack/install-libraries.sh
  git/libgit2/internal/test/utils.go
  git/libgit2/libgit2-vars.env
  git/libgit2/transport/http.go
  git/libgit2/transport/http_proxy_test.go
  git/libgit2/transport/http_test.go
  git/libgit2/transport/init.go
  git/libgit2/transport/options.go
  git/libgit2/transport/socks5_proxy_test.go
  git/libgit2/transport/ssh.go
  git/libgit2/transport/ssh_test.go
  git/libgit2/utils.go
  git/libgit2/utils_test.go
Labels: area/git

#493 chore: update golang.org/x/net across all libs
  Makefile
  apis/event/go.mod
  apis/event/go.sum
  apis/kustomize/go.mod
  apis/kustomize/go.sum
  apis/meta/go.mod
  apis/meta/go.sum
  gittestserver/go.mod
  gittestserver/go.sum
  helmtestserver/go.mod
  helmtestserver/go.sum
  http/fetch/go.mod
  http/fetch/go.sum
  kustomize/go.mod
  kustomize/go.sum
  oci/go.mod
  oci/go.sum
  oci/tests/integration/go.mod
  oci/tests/integration/go.sum
  runtime/go.mod
  runtime/go.sum
  ssa/go.mod
  ssa/go.sum
  ssh/go.mod
  ssh/go.sum
Labels: dependencies

#491 ssa: make `Action` true to type
  sourceignore/go.mod
  sourceignore/go.sum
  ssa/changeset.go
  ssa/manager.go
  ssa/manager_apply_test.go
  ssa/manager_delete_test.go
  ssa/manager_diff_test.go
Labels: enhancement, area/server-side-apply

#494 Change `all` target to run only `tidy|generate|fmt|vet`
  .github/workflows/build.yaml
  CONTRIBUTING.md
  Makefile
Labels: area/build

#495 ssa: Add `skipped` action to report ignored resources
  ssa/changeset.go
  ssa/manager_apply.go
  ssa/manager_apply_test.go
  ssa/manager_delete.go
  ssa/manager_delete_test.go
Labels: enhancement, area/server-side-apply

#490 oci: Allow consumers to change the media types
  oci/client/push.go
  oci/client/push_pull_test.go
  oci/constants.go
  oci/globals.go
  oci/go.mod
Labels: area/oci

#496 chore: update CODEOWNERS
  .github/CODEOWNERS
Labels: area/build

#497 git: add support for showing full references
  git/git.go
  git/git_test.go
  git/gogit/clone.go
  git/gogit/clone_test.go
  git/utils_test.go
Labels: enhancement, area/git
