Repository fluxcd/pkg, pull requests merged in 2023-03, with the labels that each got.

#500 runtime/events: change log level to trace
  runtime/events/recorder.go
Labels: area/runtime

#501 Update API and runtime dependencies
  apis/event/go.mod
  apis/event/go.sum
  apis/meta/go.mod
  apis/meta/go.sum
  runtime/go.mod
  runtime/go.sum
Labels: area/runtime, area/apis, area/build

#503 kustomize: update dependencies
  apis/kustomize/go.mod
  apis/kustomize/go.sum
  kustomize/go.mod
  kustomize/go.sum
Labels: area/apis, area/build, area/kustomize

#504 misc: update dependencies
  http/fetch/go.mod
  http/fetch/go.sum
  oci/go.mod
  oci/go.sum
  oci/tests/integration/go.mod
  oci/tests/integration/go.sum
  ssa/go.mod
  ssa/go.sum
Labels: area/server-side-apply, area/build, area/oci

#505 git: update dependencies
  git/go.mod
  git/go.sum
  git/gogit/go.mod
  git/gogit/go.sum
  git/internal/e2e/go.mod
  git/internal/e2e/go.sum
  ssh/go.mod
  ssh/go.sum
Labels: area/build, area/git

#507 oci: Allow setting custom annotations on artifacts
  oci/client/meta.go
  oci/client/push_pull_test.go
Labels: area/oci

#502 [pkg/ssa] Do not force apply if resource doesn't exist on the cluster
  ssa/manager_apply.go
  ssa/manager_apply_test.go
  ssa/testdata/test1.yaml
Labels: area/server-side-apply

#510 misc: update dependencies
  helmtestserver/go.mod
  helmtestserver/go.sum
  kustomize/go.mod
  oci/go.mod
  oci/go.sum
  oci/tests/integration/go.mod
  oci/tests/integration/go.sum
  runtime/go.mod
Labels: area/runtime, area/build, area/oci, area/helm

#508 runtime/logger: add `SetLogger` helper
  runtime/logger/logger.go
Labels: enhancement, area/runtime

#164 Change the metric bucket into a more useful range.
  runtime/metrics/recorder.go
Labels: area/runtime

#450 feat(oci): Add support for Azure Workload Identity
  oci/go.mod
  oci/go.sum
  oci/tests/integration/go.mod
  oci/tests/integration/go.sum
Labels: enhancement, area/oci, hold

#515 oci: update google.golang.org/protobuf to v1.29.1
  oci/go.mod
  oci/go.sum
  oci/tests/integration/go.mod
  oci/tests/integration/go.sum
Labels: area/oci

#514 Update workflows
  .github/dependabot.yaml
  .github/workflows/actions.yaml
  .github/workflows/build.yaml
  .github/workflows/cifuzz.yaml
  .github/workflows/e2e.yaml
  .github/workflows/ossf.yaml
  .github/workflows/scan.yaml
Labels: area/build

#518 http/fetch: support digest in archive fetcher
  http/fetch/archive_fetcher.go
  http/fetch/archive_fetcher_test.go
  http/fetch/go.mod
  http/fetch/go.sum
Labels: enhancement

#520 runtime/patch: increase (extended) timeout tests
  runtime/patch/suite_test.go
Labels: area/runtime

#517 apis: Kustomize target selector must be a pointer
  apis/kustomize/kustomize_types.go
  apis/kustomize/zz_generated.deepcopy.go
  kustomize/kustomize_generator.go
Labels: bug, area/apis

#521 Update Kubernetes packages to v0.26.3
  apis/event/go.mod
  apis/event/go.sum
  apis/kustomize/go.mod
  apis/kustomize/go.sum
  apis/meta/go.mod
  apis/meta/go.sum
  helmtestserver/go.mod
  helmtestserver/go.sum
  kustomize/go.mod
  kustomize/go.sum
  runtime/go.mod
  runtime/go.sum
Labels: area/build

#522 Update internal packages
  kustomize/go.mod
  runtime/go.mod
  ssa/go.mod
  ssa/go.sum
Labels: area/build

#525 runtime: Add controller sharding capability based on label selector
  runtime/controller/watch.go
  runtime/controller/watch_test.go
Labels: enhancement, area/runtime

#526 runtime/leaderelection: add `GenerateID` and update dependencies
  runtime/go.mod
  runtime/go.sum
  runtime/leaderelection/leaderelection.go
  runtime/leaderelection/leaderelection_test.go
Labels: enhancement, area/runtime

#528 Add support for .sourceignore and ignore string
  kustomize/filters.go
  kustomize/go.mod
  kustomize/go.sum
  kustomize/kustomize_generator.go
  kustomize/kustomize_generator_test.go
  kustomize/testdata/kustomization_with_sourceignore_expected.yaml
  kustomize/testdata/resources/.sourceignore
Labels: enhancement, area/kustomize
