Repository fluxcd/pkg, pull requests merged in 2023-07, with the labels that each got.

#600 Use registry region to get token for AWS
  oci/auth/aws/auth.go
  oci/auth/aws/auth_test.go
  oci/auth/login/login.go
  oci/go.mod
Labels: bug, area/oci

#601 ssa: Add test for duplicate ports different proto
  ssa/manager_apply_test.go
  ssa/testdata/test2.yaml
Labels: area/server-side-apply, area/testing

#604 oci: Improve handling of cosgin artifacts
  oci/client/list.go
  oci/client/list_test.go
Labels: enhancement, area/oci

#609 Add failfast option to ssa.Wait
  ssa/go.mod
  ssa/go.sum
  ssa/manager_apply.go
  ssa/manager_delete_test.go
  ssa/manager_wait.go
  ssa/manager_wait_test.go
  ssa/testdata/test10.yaml
Labels: enhancement, area/server-side-apply

#610 ssa: Detect immutable errors from CEL and custom webhooks
  ssa/utils.go
  ssa/utils_test.go
Labels: area/server-side-apply
