Repository fluxcd/pkg, pull requests merged in 2023-10, with the labels that each got.

#660 ssa: Extend CEL immutable error detection
  ssa/utils.go
Labels: area/server-side-apply

#661 ssa: improve data masking
  ssa/manager_diff.go
  ssa/sanitize.go
  ssa/sanitize_test.go
  ssa/utils.go
  ssa/utils_test.go
Labels: enhancement, area/server-side-apply

#658 ssa: object normalization improvements
  ssa/errors.go
  ssa/go.mod
  ssa/manager_apply.go
  ssa/manager_apply_test.go
  ssa/manager_diff.go
  ssa/manager_diff_test.go
  ssa/normalize.go
  ssa/normalize_test.go
  ssa/utils.go
Labels: enhancement, area/server-side-apply

#666 git/gogit: use existing methods to clone branch/tag via refname
  git/gogit/clone.go
Labels: enhancement, area/git

#670 ssa: Set force delete propagation to cleanup jobs
  ssa/manager_apply.go
Labels: area/server-side-apply

#657 ssa: introduce `jsondiff` package
  ssa/go.mod
  ssa/go.sum
  ssa/jsondiff/diff.go
  ssa/jsondiff/mask.go
  ssa/jsondiff/mask_test.go
  ssa/jsondiff/options.go
  ssa/jsondiff/patch.go
  ssa/jsondiff/selector.go
  ssa/jsondiff/selector_test.go
  ssa/jsondiff/suite_test.go
  ssa/jsondiff/testdata/deployment.yaml
  ssa/jsondiff/testdata/empty-configmap.yaml
  ssa/jsondiff/testdata/empty-secret.yaml
  ssa/jsondiff/testdata/service.yaml
  ssa/jsondiff/unstructured.go
  ssa/jsondiff/unstructured_test.go
Labels: enhancement, area/server-side-apply

#678 Upgrade go-git to 5.10.0
  git/gogit/go.mod
  git/gogit/go.sum
  git/internal/e2e/go.mod
  git/internal/e2e/go.sum
Labels: dependencies, area/git
