Repository fluxcd/pkg, pull requests merged in 2023-05, with the labels that each got.

#548 http/fetch: improve error messages
  http/fetch/archive_fetcher.go
  http/fetch/archive_fetcher_test.go
Labels: enhancement

#533 oci/client: Configureable retry backoff
  oci/client/build_test.go
  oci/client/client.go
  oci/client/delete_test.go
  oci/client/diff_test.go
  oci/client/list_test.go
  oci/client/login_test.go
  oci/client/push_pull_test.go
  oci/client/tag_test.go
Labels: enhancement, area/oci

#550 git: add `PushConfig` to specify push config and add support for refspecs
  git/gogit/client.go
  git/gogit/client_test.go
  git/gogit/clone.go
  git/gogit/clone_test.go
  git/gogit/internal/test/http_proxy_test.go
  git/gogit/internal/test/socks_proxy_test.go
  git/internal/e2e/utils.go
  git/repository/client.go
  git/repository/options.go
Labels: enhancement, area/git

#554 git/{gogit,e2e}: update dependencies
  git/gogit/go.mod
  git/gogit/go.sum
  git/internal/e2e/go.mod
  git/internal/e2e/go.sum
Labels: dependencies, area/git

#534 Update Kubernetes to 1.27.2 and Kustomize to 5.0.3
  apis/event/go.mod
  apis/event/go.sum
  apis/kustomize/go.mod
  apis/kustomize/go.sum
  apis/meta/go.mod
  apis/meta/go.sum
  helmtestserver/go.mod
  helmtestserver/go.sum
  kustomize/go.mod
  kustomize/go.sum
  kustomize/main_test.go
  oci/go.mod
  oci/go.sum
  oci/tests/integration/go.mod
  oci/tests/integration/go.sum
  runtime/client/client.go
  runtime/client/impersonator.go
  runtime/go.mod
  runtime/go.sum
  ssa/go.mod
  ssa/go.sum
  ssa/main_test.go
Labels: area/runtime, dependencies, area/kustomize

#564 Update dependencies across packages
  git/go.mod
  git/go.sum
  git/gogit/go.mod
  git/gogit/go.sum
  git/internal/e2e/go.mod
  git/internal/e2e/go.sum
  gittestserver/go.mod
  gittestserver/go.sum
  helmtestserver/go.mod
  helmtestserver/go.sum
  http/fetch/go.mod
  http/fetch/go.sum
  kustomize/go.mod
  kustomize/go.sum
  oci/go.mod
  oci/go.sum
  oci/tests/integration/go.mod
  oci/tests/integration/go.sum
  runtime/go.mod
  runtime/go.sum
  ssa/go.mod
  ssa/go.sum
  ssh/go.mod
  ssh/go.sum
  version/go.mod
  version/go.sum
Labels: dependencies

#565 Update internal dependencies
  git/gogit/go.mod
  git/internal/e2e/go.mod
  kustomize/go.mod
  oci/go.mod
  runtime/go.mod
Labels: dependencies

#567 Update controller-runtime from beta to v0.15.0
  git/go.mod
  git/go.sum
  gittestserver/go.mod
  gittestserver/go.sum
  kustomize/go.mod
  kustomize/go.sum
  oci/go.mod
  oci/go.sum
  oci/tests/integration/go.mod
  oci/tests/integration/go.sum
  runtime/go.mod
  runtime/go.sum
  ssa/go.mod
  ssa/go.sum
Labels: dependencies

#562 git: Switch from `fluxcd/go-git` to `go-git/go-git`
  git/gogit/client.go
  git/gogit/client_test.go
  git/gogit/clone.go
  git/gogit/clone_test.go
  git/gogit/go.mod
  git/gogit/go.sum
  git/gogit/transport.go
  git/gogit/transport_test.go
  git/internal/e2e/go.mod
  git/internal/e2e/go.sum
  git/internal/e2e/utils.go
  gittestserver/go.mod
  gittestserver/go.sum
  gittestserver/server.go
  gittestserver/server_test.go
  kustomize/filters.go
  kustomize/go.mod
  kustomize/go.sum
  oci/go.mod
  oci/go.sum
  oci/tests/integration/go.mod
  oci/tests/integration/go.sum
  sourceignore/go.mod
  sourceignore/go.sum
  sourceignore/sourceignore.go
  sourceignore/sourceignore_test.go
Labels: area/git

#569 git/{gogit,e2e}: bump pkg/git to v0.12.2
  git/gogit/go.mod
  git/internal/e2e/go.mod
Labels: dependencies

#571 git/gogit: set `HostKeyCallback` for parent `PublicKeys` object
  git/gogit/transport.go
  git/gogit/transport_test.go
Labels: bug, area/git

#563 [oci] Add function for configuring transport with retry backoff
  oci/client/login.go
  oci/client/retry_transport.go
Labels: area/oci

#573 kustomize: update sourceignore to v0.3.4
  kustomize/go.mod
Labels: dependencies, area/kustomize

#575 git/gogit: Add support for per client proxying
  git/gogit/client.go
  git/gogit/clone.go
  git/gogit/clone_test.go
  git/gogit/go.mod
  git/internal/e2e/go.mod
  git/internal/e2e/go.sum
Labels: enhancement, area/git

#576 git/gogit: add multi_ack/multi_ack_detailed as a supported capability
  git/gogit/client.go
Labels: bug, area/git
