Repository fluxcd/pkg, pull requests merged in 2024-03, with the labels that each got.

#748 Pin envtest version
  .github/workflows/actions.yaml
  Makefile
  actions/envtest/action.yml
Labels: area/actions, dependencies

#744 crdjsonschema action now creates a `all.json` schema to validate any Flux2 resource via a single schema
  actions/crdjsonschema/entrypoint.sh
  actions/crdjsonschema/openapi2jsonschema.py
Labels: area/actions

#723 Adding common "reason" constants
  apis/meta/conditions.go
Labels: area/api
