Repository fluxcd/pkg, pull requests merged in 2024-09, with the labels that each got.

#808 Add proxy support for oci/auth login
  oci/auth/aws/auth.go
  oci/auth/azure/auth.go
  oci/auth/azure/exchanger.go
  oci/auth/azure/exchanger_test.go
  oci/auth/gcp/auth.go
  oci/auth/login/login.go
Labels: area/oci

#809 Update dependencies
  Makefile
  apis/event/go.mod
  apis/event/go.sum
  apis/kustomize/go.mod
  apis/kustomize/go.sum
  apis/meta/go.mod
  apis/meta/go.sum
  auth/go.mod
  auth/go.sum
  cache/go.mod
  cache/go.sum
  git/go.mod
  git/go.sum
  git/gogit/go.mod
  git/gogit/go.sum
  git/internal/e2e/go.mod
  git/internal/e2e/go.sum
  gittestserver/go.mod
  gittestserver/go.sum
  helmtestserver/go.mod
  helmtestserver/go.sum
  http/fetch/go.mod
  http/fetch/go.sum
  kustomize/go.mod
  kustomize/go.sum
  oci/go.mod
  oci/go.sum
  oci/tests/integration/go.mod
  oci/tests/integration/go.sum
  runtime/go.mod
  runtime/go.sum
  sourceignore/go.mod
  sourceignore/go.sum
  ssa/go.mod
  ssa/go.sum
  ssh/go.mod
  ssh/go.sum
  tar/go.mod
  tar/go.sum
  version/go.mod
  version/go.sum
Labels: dependencies

#810 Update internal dependencies
  git/go.mod
  git/gogit/go.mod
  git/internal/e2e/go.mod
  kustomize/go.mod
  oci/go.mod
  oci/tests/integration/go.mod
  runtime/go.mod
Labels: dependencies

#793 Add new integration tests for Azure OIDC for git repositories
  oci/tests/integration/.env.sample
  oci/tests/integration/Makefile
  oci/tests/integration/README.md
  oci/tests/integration/aws_test.go
  oci/tests/integration/azure_test.go
  oci/tests/integration/gcp_test.go
  oci/tests/integration/git_test.go
  oci/tests/integration/go.mod
  oci/tests/integration/go.sum
  oci/tests/integration/job_test.go
  oci/tests/integration/oci_test.go
  oci/tests/integration/suite_test.go
  oci/tests/integration/terraform/azure/main.tf
  oci/tests/integration/terraform/azure/outputs.tf
  oci/tests/integration/terraform/azure/variables.tf
  oci/tests/integration/terraform/azure/version.tf
  oci/tests/integration/testapp/main.go
  oci/tests/integration/util_test.go
Labels: area/git, area/testing
