Repository fluxcd/pkg, pull requests merged in 2025-04, with the labels that each got.

#905 actions: Update SOPS repository
  actions/sops/action.yaml
Labels: area/actions

#904 Support `ClientCert` and `ClientKey` (mTLS) configuration in Git
  git/gogit/client.go
  git/gogit/clone.go
  git/gogit/go.mod
  git/gogit/go.sum
  git/gogit/transport.go
  git/gogit/transport_test.go
  git/internal/e2e/go.mod
  git/internal/e2e/go.sum
  git/options.go
  git/options_test.go
  oci/tests/integration/go.mod
  oci/tests/integration/go.sum
Labels: enhancement, area/git

#913 Update internal dependencies
  chartutil/go.mod
  git/go.mod
  git/gogit/go.mod
  git/internal/e2e/go.mod
  helmtestserver/go.mod
  http/fetch/go.mod
  kustomize/go.mod
  oci/go.mod
  oci/tests/integration/go.mod
  oci/tests/integration/go.sum
  runtime/go.mod
Labels: dependencies

#915 Downgrade `Masterminds/semver` to v3.3.0
  git/gogit/go.mod
  git/gogit/go.sum
  git/internal/e2e/go.mod
  oci/go.mod
  oci/go.sum
  oci/tests/integration/go.mod
Labels: dependencies
