Repository fluxcd/pkg, pull requests merged in 2025-01, with the labels that each got.

#835 Update ECR parsing regex to include non-public AWS partitions
  oci/auth/aws/auth.go
  oci/auth/aws/auth_test.go
Labels: area/oci

#853 Upgrade apis/event in runtime
  runtime/go.mod
Labels: dependencies

#855 Add MetaOriginRevisionKey to Event API
  apis/event/v1beta1/metadata.go
Labels: area/api

#856 Add GetRevision() to Event API
  apis/event/v1beta1/event.go
Labels: area/api

#850 git: Add support for sparse checkout
  git/gogit/clone.go
  git/gogit/clone_test.go
  git/gogit/go.mod
  git/gogit/go.sum
  git/internal/e2e/go.mod
  git/internal/e2e/go.sum
  git/repository/options.go
  oci/tests/integration/go.mod
  oci/tests/integration/go.sum
Labels: area/git, hold

#861 Update dependencies
  apis/event/go.mod
  apis/event/go.sum
  apis/kustomize/go.mod
  apis/kustomize/go.sum
  apis/meta/go.mod
  apis/meta/go.sum
  auth/go.mod
  auth/go.sum
  cache/go.mod
  cache/go.sum
  chartutil/go.mod
  chartutil/go.sum
  git/go.mod
  git/go.sum
  git/gogit/go.mod
  git/gogit/go.sum
  git/internal/e2e/go.mod
  git/internal/e2e/go.sum
  gittestserver/go.mod
  gittestserver/go.sum
  helmtestserver/go.mod
  helmtestserver/go.sum
  http/fetch/go.mod
  http/fetch/go.sum
  kustomize/go.mod
  kustomize/go.sum
  oci/go.mod
  oci/go.sum
  oci/tests/integration/go.mod
  oci/tests/integration/go.sum
  runtime/go.mod
  runtime/go.sum
  sourceignore/go.mod
  sourceignore/go.sum
  ssa/go.mod
  ssa/go.sum
  ssh/go.mod
  ssh/go.sum
  tar/go.mod
  tar/go.sum
Labels: dependencies

#859 [RFC-0009] Add InvalidCELExpressionReason to apis/meta
  apis/meta/conditions.go
Labels: area/api

#857 [RFC-0009] Add healthcheck expressions to kustomize types
  apis/kustomize/kustomize_types.go
  apis/kustomize/zz_generated.deepcopy.go
Labels: area/kustomize

#858 [RFC-0009] Add CEL library with custom healthchecks to runtime
  runtime/cel/doc.go
  runtime/cel/expression.go
  runtime/cel/expression_test.go
  runtime/cel/status_evaluator.go
  runtime/cel/status_evaluator_test.go
  runtime/cel/status_poller.go
  runtime/cel/status_poller_test.go
  runtime/cel/status_reader.go
  runtime/cel/status_reader_test.go
  runtime/cel/suite_test.go
  runtime/cel/testdata/crds/sealedsecrets.yaml
  runtime/go.mod
  runtime/go.sum
  ssa/main_test.go
  ssa/manager_wait_test.go
Labels: area/runtime

#864 Update internal dependencies
  git/gogit/go.mod
  git/gogit/go.sum
  git/internal/e2e/go.mod
  git/internal/e2e/go.sum
  kustomize/go.mod
  kustomize/go.sum
  oci/go.mod
  oci/go.sum
  oci/tests/integration/go.mod
  oci/tests/integration/go.sum
Labels: dependencies
