Repository fluxcd/pkg, pull requests merged in 2025-07, with the labels that each got.

#964 ssa: Fix waiting for classes in `ApplyAllStaged`
  ssa/manager_apply.go
  ssa/testdata/test12.yaml
Labels: bug, area/server-side-apply

#966 Update dependencies to Kubernetes v1.33.2
  apis/event/go.mod
  apis/event/go.sum
  apis/kustomize/go.mod
  apis/kustomize/go.sum
  apis/meta/go.mod
  apis/meta/go.sum
  auth/go.mod
  auth/go.sum
  cache/go.mod
  cache/go.sum
  chartutil/go.mod
  chartutil/go.sum
  git/go.mod
  git/go.sum
  git/gogit/go.mod
  git/gogit/go.sum
  git/internal/e2e/go.mod
  git/internal/e2e/go.sum
  gittestserver/go.mod
  gittestserver/go.sum
  helmtestserver/go.mod
  helmtestserver/go.sum
  http/fetch/go.mod
  http/fetch/go.sum
  kustomize/go.mod
  kustomize/go.sum
  oci/go.mod
  oci/go.sum
  oci/tests/integration/go.mod
  oci/tests/integration/go.sum
  runtime/go.mod
  runtime/go.sum
  sourceignore/go.mod
  sourceignore/go.sum
  ssa/go.mod
  ssa/go.sum
  ssh/go.mod
  ssh/go.sum
  tar/go.mod
  tar/go.sum
  version/go.mod
  version/go.sum
Labels: dependencies

#971 runtime/secrets: Add `MakeGitHubAppSecret` & `MakeSSHSecret`
  runtime/secrets/applier.go
  runtime/secrets/applier_test.go
  runtime/secrets/converter.go
  runtime/secrets/converter_test.go
  runtime/secrets/error.go
  runtime/secrets/factory.go
  runtime/secrets/factory_test.go
  runtime/secrets/reader_test.go
  runtime/secrets/secrets.go
  runtime/secrets/secrets_test.go
  runtime/secrets/suite_test.go
Labels: area/runtime

#977 runtime/secrets: Set GVK on generated secrets
  runtime/secrets/factory.go
  runtime/secrets/factory_test.go
  runtime/secrets/secrets.go
Labels: area/runtime

#978 runtime/secrets: Add `MakeSOPSSecret`
  runtime/secrets/factory.go
  runtime/secrets/factory_test.go
Labels: area/runtime

#984 runtime/controller: Fix watch configs for empty label selector
  oci/tests/integration/go.mod
  runtime/controller/watch.go
  runtime/controller/watch_test.go
Labels: area/runtime

#985 runtime/controller: Add test case for watching all configs except helm storage
  runtime/controller/watch_test.go
Labels: area/runtime

#988 [RFC-0010] auth/azure: Support all Azure clouds for remote clusters at the controller level
  auth/azure/provider.go
  auth/azure/provider_test.go
  oci/tests/integration/go.mod
Labels: enhancement, area/security

#989 runtime/secrets: add TokenAuth detection support
  oci/tests/integration/go.mod
  runtime/secrets/converter.go
  runtime/secrets/converter_test.go
  runtime/secrets/secrets.go
Labels: area/runtime

#990 chartutil: Fix sort not recursing for slices
  chartutil/encode.go
  chartutil/go.mod
  chartutil/sort.go
  chartutil/sort_test.go
Labels: bug, area/helm
