Repository fluxcd/pkg, pull requests merged in 2025-09, with the labels that each got.

#1017 kustomize: Add `ignoreMissingComponents` option
  kustomize/kustomize_generator.go
  kustomize/kustomize_generator_test.go
Labels: area/kustomize

#1018 apis: Add `Artifact` type to `meta` package
  apis/meta/artifact.go
  apis/meta/zz_generated.deepcopy.go
Labels: area/api

#1019 Update otel packages to v1.38.0
  auth/go.mod
  auth/go.sum
  chartutil/go.mod
  oci/go.mod
  oci/go.sum
  runtime/go.mod
  tests/integration/go.mod
  tests/integration/go.sum
Labels: dependencies

#1021 artifact: Set address flags to match source-controller
  artifact/config/flags.go
  artifact/config/flags_test.go
Labels: area/artifact

#1026 artifact: Refactor storage package structure
  README.md
  artifact/storage/archive.go
  artifact/storage/archive_test.go
  artifact/storage/filesystem.go
  artifact/storage/filesystem_test.go
  artifact/storage/gc.go
  artifact/storage/gc_test.go
  artifact/storage/path.go
  artifact/storage/path_test.go
  artifact/storage/storage.go
  artifact/storage/storage_test.go
Labels: area/artifact

#1030 runtime/cel: introduce Evaluate()
  runtime/cel/expression.go
  runtime/cel/expression_test.go
  tests/integration/go.mod
Labels: area/runtime

#1031 ssa: Add force apply config to dry-run diff
  ssa/manager_diff.go
Labels: area/server-side-apply
